# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
src/environments/**

.idea/
dist
.sourcemaps
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Podfile.lock
www/
electron/www/*
electron/capacitor.config.json
android/app/src/main/assets/public/*
!android/app/src/main/assets/public/.gitkeep
ios/IonicRunner/public/*
!ios/IonicRunner/public/.gitkeep
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
android-template/.gradle/
android-template/app/app.iml
/site/.env
/site/.firebase
.gradle/
.settings/
.project
